Source: tarantool-smtp
Priority: optional
Section: database
Maintainer: Roman Tsisyk <roman@tarantool.org>
Build-Depends: debhelper (>= 9), cdbs,
               cmake (>= 2.8),
               tarantool-dev (>= 1.6.8.0),
# For /usr/bin/prove
               perl (>= 5.10.0),
               libcurl4-openssl-dev | libcurl4-gnutls-dev | libcurl4-nss-dev
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/smtp
Vcs-Git: git://github.com/tarantool/smtp.git
Vcs-Browser: https://github.com/tarantool/smtp

Package: tarantool-smtp
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.6.8.0), curl, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: SMTP client module for Tarantool
